.colinbody {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: relative;

}
.colinseyes {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    position: relative;
}

.colinsmouth {
    height: 10px;
    width: 35px;
    background-color: black;
    border-radius: 0 0 50px 50px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    position: relative;
}
.colin{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}
body{
    width: 100%;
    height: auto;
}
body#index{
    min-height: 700px;
    height: 100%;
    width: 40%;
    font-size: 50px;
    background-color: lightblue;
    background-image: radial-gradient(white 5%, transparent 60%);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
}
body#page1{
margin: 0;
font-size: 50px;
background-image: linear-gradient(rgb(15, 15, 38), rgb(5, 13, 5));
color: antiquewhite;
}
.tree{
    z-index: 2;
}
.egg{
    width: 10%;
    z-index: 3;
    animation: rock 0.2s ease-in-out infinite;
    margin-top: 100px;
    position: absolute;
}
.moon{
    width: 30%;
    animation: rock 10s ease-in-out infinite;
    z-index: 1;
    position: absolute;
}

body#page2{
    font-size: 50px;
    background-color: antiquewhite;
    margin: 0;
}
img{
    width: 100%;
    height: auto;
}

.sun{
    width: 80%;
    height: auto;
    animation: rotate 10s ease-in-out infinite alternate-reverse;
}
.ground{
    width: 100%;
    height: auto;
}
  
.eyes {
    margin-top: 25%;
    position: relative;
    margin-left: 20%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    background-color: orangered
}
.eyes + .eyes {
    display: flex;
    justify-content: space-evenly;
    position: relative;
} 
.mouth {
    margin-top: 50%;
    margin-right: 150px;
    width: 60%;
    height: 20%;
    border-radius: 50%;
    border-bottom: 10px solid orangered;
    position: relative;
    display: flex;
}


body#page3{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}
body#page4{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}
body#page5{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}
body#page6{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}
body#page7{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}
body#page8{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}
body#page9{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}
body#page10{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}
body#page11{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}
body#page12{
    min-height: 700px;
    height: 100%;
    width: 40%;
    background-image: url("bark.png"), url("grass.png");
    font-size: 50px;
    background-repeat: repeat-y, repeat-x; 
    background-position: right top, left bottom; 
    background-attachment: fixed; 
    background-color: lightblue;
    margin: 0;
}

#A{
    background-color: green;
    animation: idle 1s linear infinite;
    animation-duration: 2.5s;
    animation-delay: 1s; 
}
#B{
    background-color: lawngreen;
    animation: idle 1s linear infinite;
    animation-duration: 2.5s;
}
#B:last-child {
    background-color: red;
  }
.body.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
  @keyframes idle {
    0%, 100% {
        bottom: 0;
      }
      50% {
        bottom: 100px;
      }
  }

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);
      bottom: 10px;
    }
    100% {
      transform: rotate(-5deg);
      bottom: -10px;
    }
}
@keyframes rock {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(5deg);
    }
}