.colin{
    width: 6%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    margin: -5px;
    position: relative;
    flex-direction: row;
    bottom: 0;
    opacity: 90%;
    top: 10px;
    z-index: 4;
}
.colinStill10{
    width: 6%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    margin: -5px;
    position: relative;
    flex-direction: row;
    bottom: 0;
    margin-top: 50%;
    z-index: 4;
}
.colinStill{
    width: 6%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    margin: -5px;
    position: relative;
    flex-direction: row;
    bottom: 0;
    top: 1%;
    z-index: 4;
}
.colinBig{
    width: 12%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    margin: -10px;
    position: relative;
    flex-direction: row;
    bottom: 0;
    opacity: 90%;
    top: 10px;
    z-index: 4;
}
.butterfly{
    width: 20%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    margin: -10px;
    position: relative;
    flex-direction: row;
    bottom: 0;
    opacity: 90%;
}
#butterflybody{
    width: 4%;
    height: auto;
    z-index: 3;
}
#butterflywingl{
    animation: rockReverse 8s ease-in-out infinite;
    z-index: 2;
    bottom: 5%;
}
#butterflywingr{
    animation: rock 8s ease-in-out infinite;
    z-index: 2;
    bottom: 5%;
}
.cocoon{
    width: 20%;
    height: auto;
    animation: rock 1s ease-in-out infinite;
    cursor: pointer;
}

.colin:nth-of-type(2n) {
    animation: crawl 20s ease-in-out,
    idle 2s ease-in-out infinite alternate 1s;
}
.colin:nth-last-child(){
    opacity: 0;
}
.colin:nth-of-type(2n-1) {
    animation: crawl 20s ease-in-out, idle 2s ease-in-out infinite alternate;
}
h1{
    top:0;
    width: 100%;
    height: auto;
}
.colinTitle{
    width: 15%;
    height: auto;
    display: inline-flex;
    margin: 0;
    position: relative;
    bottom: 0;
    float: left;
}
.colinTitle:nth-of-type(2n) {
    animation: idle 2s ease-in-out infinite alternate 1s;
}
.colinTitle:nth-of-type(2n-1) {
    animation: idle 2s ease-in-out infinite alternate;
}

body{
    width: 100%;
    height: auto;
    font-size: 30px;
    background-color: antiquewhite;
    margin: 0;
    color: black;
}
body#index{
    background-color: lightblue;
    background-image: radial-gradient(white 5%, transparent 60%);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
}

body#page1{
    background-image: linear-gradient(rgb(15, 15, 38), rgb(5, 13, 5));
    color: antiquewhite;
}
.tree{
    z-index: 2;
    float: right;
    position: relative;
    bottom: 0;
}
.pg1txt{
    color: antiquewhite;
}
.egg{
    width: 10%;
    z-index: 3;
    animation: rock 0.3s ease-in-out infinite;
    position: absolute;
    margin-top: 20%;
    right: 50%;
}
.moon{
    width: 30%;
    animation: rock 9s ease-in-out infinite;
    z-index: 1;
    position: absolute;
}
img{
    width: 100%;
    height: auto;
}
.sun{
    width: 55%;
    height: auto;
    animation: rock 10s ease-in-out infinite alternate-reverse,up 5s ease-in-out;
    position: relative;
    bottom:0;
}
.orange{
    width: 8%;
    height: auto;
    right: 27%;
    z-index: 2;
    position: absolute;
    margin-top: 8%;
    animation: rock 3s ease-in-out infinite;
    animation-delay: 1s;
}
#orange2{
    right: 38%;
    margin-top: 15%;
}
#orange3{
    right: 50%;
    margin-top: 5%;
    animation-delay: 1s;
}
#orange4{
    right: 25%;
    margin-top: 18%;
}
#orange5{
    right: 55%;
    margin-top: 18%;
    animation-delay: 1s;
}
.strawberry{
    width: 8%;
    height: auto;
    right: 30%;
    z-index: 2;
    position: absolute;
    margin-top: 10%;
    animation: rock 3s ease-in-out infinite;
}
#strawberry1{
    right: 45%;
    margin-top: 7%;
    animation-delay: 1s;
}
#strawberry2{
    right: 27%;
    margin-top: 7%;
}
#strawberry3{
    right: 22%;
    margin-top: 20%;
    animation-delay: 1s;
}
#strawberry4{
    right: 50%;
    margin-top: 20%;
}
.plum{
    width: 5%;
    height: auto;
    right: 27%;
    z-index: 2;
    position: absolute;
    margin-top: 10%;
    animation: rock 3s ease-in-out infinite;

}
#plum2{
    right: 38%;
    margin-top: 7%;
    animation-delay: 1s;
}
#plum3{
    right: 54%;
}
.pear{
    width: 8%;
    height: auto;
    right: 25%;
    z-index: 2;
    position: absolute;
    margin-top: 10%;
    animation: rock 3s ease-in-out infinite;

}
#pear2{
    right: 40%;
    animation-delay: 1s;
}
.apple{
    width: 10%;
    height: auto;
    right: 30%;
    z-index: 2;
    position: absolute;
    margin-top: 10%;
    animation: rock 3s ease-in-out infinite;
    animation-delay: 1s;
}
.ground{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.bigTree{
    height: auto;
    bottom: 0;
    z-index: 1;
    width: 50%;
    position: relative;
}
.bush{
    height: auto;
    bottom: 0;
    z-index: 1;
    width: 50%;
    position: relative;
}
.boot{
    width: 10%;
    height: auto;
    right: 15%;
    z-index: 2;
    position: absolute;
    margin-top: 31%;
}
.body.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.leaf{
    width: 10%;
    height: auto;
    position: absolute;
    z-index: 3;
}

#leaf1{
    right: 5%;
    margin-top: 20%;
}
#leaf2{
    right: 8%;
    margin-top: 30%;
}
#leaf3{
    right: 7%;
    margin-top: 40%;
}
#leaf4{
    right: 2%;
    margin-top: 50%;
}
#leaf5{
    right: 6%;
}
#pg10tree{
    width: 60%;
    height: auto;
}
.leaf:nth-of-type(2n) {
    animation: rock 3s ease-in-out infinite;
}
.leaf:nth-of-type(2n-1) {
    animation: rock 3s ease-in-out infinite;
    animation-delay: 1s;
}

.txt{
    z-index: 10;
    width: 100%;
    height: auto;
    font-size: 30px;
}
@keyframes idle {
    0%, 50%{
        bottom: 0;
    }
    100% {
        bottom: 20px; 
    }
}
@keyframes crawl {
    0% {
        left: 0;
    }
    100% {
        left: 63%; 
    }
}
@keyframes up {
    0% {
        up: 0;
    }
    100% {
        transform: translateY(-150px);
    }
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);
      bottom: 10px;
    }
    100% {
      transform: rotate(-5deg);
      bottom: -10px;
    }
}
@keyframes rock {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(5deg);
    }
}
@keyframes rockReverse {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-5deg);
    }
}
